body{
  background: url(heheboi.png);
}

#container1{
  position: absolute;
  left: 25%;
}

#container2{
  position: absolute;
  left: 100%;
}

#carrerouge,
#carrebleu,
#carrevert,
#carrejaune {
  height: 200px;
  width: 200px;
  margin: 30px; 
}

#carrerouge{
  position: flex;
  left: 10%;
  transform: translateX(-50%);
  border-radius: 50%;
  border-color: red;
  height: 200px;
  width: 200px;
  background: linear-gradient(90deg, #C70039, #fd7253);
}

#carrebleu{
  position: flex;
  left: 10%;
  transform: translateX(-50%);
  border-radius: 50%;
  border-color: blue;
  height: 200px;
  width: 200px;
  background: linear-gradient(90deg,  #56a1d3, #b1d6ee);
}

#carrevert{
  position: flex;
  left: 10%;
  transform: translateX(-50%);
  border-radius: 50%;
  border-color: green;
  height: 200px;
  width: 200px;
  background: linear-gradient(90deg, #2eb867, #7cf1ad);
}

#carrejaune{
  position: flex;
  left: 10%;
  transform: translateX(-50%);
  border-radius: 50%;
  border-color: yellow;
  height: 200px;
  width: 200px;
  background: linear-gradient(90deg,#f1c40f
  ,#fad7a0);
}